<!DOCTYPE html>
<html ng-app="warehouseManagement">
<head>
    <link rel="stylesheet" type="text/css" href="/app/bootstrap.min.css"/>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/app/app.js"></script>
    <script type="text/javascript" src="warehouseManagement.js"></script>

</head>
<body ng-controller="WarehouseOrdersListCtrl as ordersList">
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <ul class="nav nav-pills">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Messages</a></li>
        </ul>
    </div>
</nav>


<div>
    <h1>Zamówienia do potwierdzenia:</h1>

    <div class="panel panel-primary" ng-repeat="order in ordersList.orders">
        <div class="panel-heading btn-block" ng-click="order.show = ! order.show">
            {{order.date}} ||
            {{order.client.firstName}} {{order.client.lastName}}
        </div>
        <div class="panel-body" ng-show="order.show">
            <h1>Zamówione produkty:</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Nazwa produktu</th>
                    <th>Ilość</th>
                    <th>Dostępność</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in order.items">
                    <td>{{item.article.name}}</td>
                    <td>{{item.count}}</td>
                    <td>{{item.article.availability}}</td>
                </tr>
                </tbody>
            </table>
            <button
                    type="button"
                    class="btn btn-primary"
                    confirmed-click="Confirm()"
                    ng-confirm-click="Zaakceptować zamówienie?"
                    ng-show="!Validate(order)">Akceptuj</button>
            <button type="button"
                    class="btn btn-primary"
                    confirmed-click="Confirm()"
                    ng-confirm-click="Odrzucić zamówienie?">Odrzuć</button>
            <button type="button" class="btn btn-primary" ng-show="Validate(order)">Zgłoś brak towaru</button>
        </div>
    </div>
</div>
</body>
</html>
